body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-expand>.container{
  flex-wrap: wrap;
}
h3 {
  color: aqua;
}
.row {
  margin: 20px;
}
@media screen and (max-width: 750px){
  .navbar-expand>.container{
    flex-direction: column;
  }
  .navbar-expand .navbar-nav {
    flex-direction: column;
  }
  }
.grid-item.col-lg-12{
  margin-top: 50px;
}
.gallery .grid-item.col-lg-4{
  padding: 5px;
}